<h2>My Heroes</h2>
<div>
  <label>Hero Name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<!-- commented to use the routerLink in li-->
<!-- when the below line is uncommented add following attributes to li and remove 'a' element -->
<!--  (click)="onSelect(hero)" [class.selected]="hero === selectedHero" -->
<!--
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->