<div id="search-component">
  <h4>Hero Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

  <ul class="search-result">
    <!-- heroes$ is declared as an Observable in hero-search.component and | (pipe) symbol makes it AsyncPipe which subscribs to Observable -->
    <!-- we don't have to write subscribe in SearchHeroes component.ts file like we did for getHeroes etc-->
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
    </li>
  </ul>
</div>